.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.containerButtons{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--jet);
}

.buttonNext{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    margin: 2px;
    border: none;
    box-shadow: 0px 17px 5px -15px rgba(0, 0, 0, 0.119);
    border-radius: 10%;
    cursor:pointer;
}
/* .buttonNext:hover{
    background-color: var(--jet);
    color: var(--white-smoke);
} */
.buttonNext:not(:disabled):hover {
    background-color: var(--jet);
    color: var(--white-smoke);
}

.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px 50px;
    padding-bottom: 50px;
    max-width: 900px;
    background-color: aliceblue;
}