.fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    width: 300px;
    margin-top: 10px;
    font-weight: 500;
    padding: 20px;
    border: none;
    background-image: url("../../../assets/images/3-pokeballs.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom 50px right;
}

.label{
    font-size: 15px;
    font-weight: 500;
    margin: 1px;
    border-radius: 5px;
    padding: 3px 2px;
}