

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button{
    padding: 5px;
    font-size: 20px;
    background-color: var(--jet);
    color: white;
    margin: 10px 0;
    width: fit-content;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
    background-color: white;
    color: var(--jet);
}