.containersImputsLabels{
    margin: 10px;
}
.containerinput{
    display: flex;
}
.labels{
    color: rgb(209, 209, 209);
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.811);
    letter-spacing: 2px;
}
.inputs{
    padding: 12px 5px;
    font-size: 20px;
    width: 200px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(10, 11, 12, 0.7);
    border-bottom: solid rgba(255, 255, 255, 0.138) 1px;
    border-top: solid rgba(255, 255, 255, 0.138) 1px;
    border-right: solid rgba(255, 255, 255, 0.138) 1px;
    color: rgb(243, 240, 240);
}
.message{
    color: rgba(240, 248, 255, 0.601);
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
}
.errorMessage{
    color: rgb(119, 2, 2);
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(197, 188, 177);
    padding: 10px 10px;
}